@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:16px; /*predefinido*/
    color:#2f2f2f
}

body{
  margin: 0;
  background-color: #eaeaea;
}

.roboto-bold {
  font-weight: 700;
  font-style: normal;
}
.coiny-regular {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav{
  border-top: 8px solid #fcee21;
}

ul{
  list-style: none;
}

ul li a{
  text-decoration: none;
  color: gray;
  font-size: 2rem;
  padding-left: 2rem;
}

h1{
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1, b{
  font-size: 4rem; /*evaluar si cambiar por "em" */
  font-weight: 700;
}

h1 b{
  font-size: 117px;
}

h2{
  background-color: #fcee21;
  font-size: 1.6rem;
}

h3{
  background-color: #fcee21;
  font-weight: 700;
  font-size: 2rem;
}

h4{
  font-size: 3.3rem;
}

p{
  font-size: 1.75rem;
}

ol li{
  font-size: 2rem;
}

footer{
  background-color: #fcee21;
}