@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #edf7ff;
    font-family: "Asap", sans-serif;
    color:#04146c;
    font-size: 33px;
    margin:0px 0px 0px 100px; /*top right bottom left*/
}

h1,h3{
    font-family: "MuseoModerno", sans-serif;
}

h1,h2,h3{
    color:#0a2ff1;
}

h1,h2{
    margin-top: 0;
    margin-bottom: 0;
}

h1,h3{
    line-height: 70%;
}

h1{
    font-size: 117px;
    font-weight: bold;
}

h2{
    font-family: "Asap", sans-serif;
    font-size: 52px;
}

h3{
    font-size: 48px;
}

hr{
    border: 5px solid #8a9af1;
    margin-bottom: 100px;
    margin-top:0px;
    margin-left:-100px;
}